/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

* { color:#fff; text-decoration: none;}

.parallax {
    /* The image used */
    background-image: url("../img/code.jpg");
    /* Set a specific height */
    min-height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*NAVBAR LINKS*/
li a:hover {
    color: #FFFFFF;
}

/* Centered text */
.centered {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}