* { 
    text-align: center;
    text-decoration: none;
    /*font-family: 'Raleway', sans-serif, !important;*/
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 50%;
    max-width: 100%;
}

.card-img-bottom {
  color: #fff;
  height: 20rem;
  background: url(images/img1.jpg) center no-repeat;
  background-size: cover;
}

.devPic {
  max-width: 300px;
}

p{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

.vl {
    border-left: 6px solid black;
    height: 400px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 110%;
    float: right;
}


.wrap{
  font-family: 'Raleway', sans-serif, !important;
  color: #626464 !important;
  margin-top: 10px;
}

.parallax {
    /* The image used */
    background-image: url("../img/code2.jpg");
    /* Set a specific height */
    min-height: 750px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*NAVBAR LINKS*/
li a:hover {
    color: #626464 !important;
}

/* Centered text */
.centered {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}